name: Docker Publish

on:
  push:
    branches: [ "main" ]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Lowercase Repo Name
        run: |
          echo "IMAGE_NAME=${GITHUB_REPOSITORY,,}" >> ${GITHUB_ENV}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # Build and Push Gatekeeper
      - name: Build and push Gatekeeper
        uses: docker/build-push-action@v5
        with:
          context: ./Suwayomi-Gatekeeper
          push: true
          tags: ghcr.io/${{ env.IMAGE_NAME }}/gatekeeper:latest

      # Build and Push Server
      - name: Build and push Server
        uses: docker/build-push-action@v5
        with:
          context: ./Suwayomi-Server
          file: ./Suwayomi-Server/Dockerfile
          push: true
          tags: ghcr.io/${{ env.IMAGE_NAME }}/server:latest

      # Build and Push WebUI
      - name: Build and push WebUI
        uses: docker/build-push-action@v5
        with:
          context: ./Suwayomi-WebUI
          push: true
          tags: ghcr.io/${{ env.IMAGE_NAME }}/webui:latest
